basePath: /
info:
  contact: {}
  description: Avalon 平台 Go 后端接口文档，涵盖认证、系统管理、日志等模块。
  title: voc-go-backend 接口文档
  version: "1.0"
paths: {}
schemes:
- http
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
