// 基础样式
@use './base.scss' as *;

// 全局类名样式
@use './global.scss' as *;

// 自定义原生滚动条样式
@use './scrollbar-reset.scss' as *;

// 自定义 nprogress 插件进度条颜色
@use './nprogress.scss' as *;

// 富文本的 css 主题颜色变量
@use './editor.scss' as *;

// 动画类名
@use './animated.scss' as *;
